{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}app-{{ opts.app_label }} model-{{ opts.object_name.lower }} block_videos{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans 'Block multiple objects' %}
</div>
{% endblock %}

{% block content %}
        <form action="" method="post">{% csrf_token %}
        <div>
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="block" />
        <input type="text" name="reason" />
        <input type="submit" value="Submit" />
        </div>
        </form>
{% endblock %}
