{% extends "videos/master.html" %}

{% block title %}{{ video.title }}{% endblock %}
{% block description %}{{ video.description }}{% endblock %}
{% block keywords %}{{ video.keywords.all|join:", " }}{% endblock %}
{% block author %}{{ video.authors.all|join:", " }}{% endblock %}

{% block header %}{{ video.title }}{% endblock %}
{% block content %}

{% if perms.modify_video or video.uploader == user %}
{% load comments %}
<div id="toolbox"><a href="{% url 'videos:editVideo' video.id %}">edit</a></div>

{% endif %}

<p align="center">
<video src="{{ video.video.url }}" width="960" height="720" controls="controls">
Your browser does not support the video tag.
</video>
</p>

<div class="right">


        {% comment %} {% if perms.videos.add_starrating %} {% endcomment %}
        {% if user.is_authenticated %}
<form method="post" action="{% url 'videos:createRating' video.id 'star' %}" target="_blank">
        {% csrf_token %}
        {{ star }}
        <input type="submit" value="Submit" />
</form>
{% endif %}

Average stars: {{ star_avg }}
<br />
{% comment %}{% if perms.videos.add_beakerRating %}{% endcomment %}
{% if user.is_authenticated %}
<form method="post" action="{% url 'videos:createRating' video.id 'beaker' %}" target="_blank">
        {% csrf_token %}
        {{ beaker }}
        <input type="submit" value="Submit" />
</form>
{% endif %}

Average beakers: {{ beaker_avg }}

{% comment %}{% if perms.videos.add_videoflag %}{% endcomment %}
{% if user.is_authenticated %}
<br />
<a href="{% url 'videos:flagVideo' video.id %}" target="_blank">Flag this video</a>
{% endif %}
</div>

{% render_comment_list for video %}
<div>
        {% if user.is_authenticated %}
                
               {% get_comment_form for video as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
      </td>
    </tr>
  </form>
</table>
        {% else %}
                Log in to comment.<br>
                <a href="/accounts/login">login</a> or <a href="/accounts/register">register</a>
        {% endif %}
        </div>

<p>{{ video.description }}</p>
<p>Viewed {{ video.viewCount }} times.</p>
<p>Original article: <a href="{{ video.url }}" target="_blank">{{ video.url }}</a></p>
<p>Authors: {{ video.authors.all|join:", " }}</p>
<p>Keywords: {{ video.keywords.all|join:", " }}</p>
<p>Journal: {{ video.journal }}</p>

<script type="text/javascript">
function makeView() {
        var r = new XMLHttpRequest();
        r.open("GET", "count", true);
        r.send(null);
}
makeView();
</script>
{% endblock %}
