{% extends "videos/master.html" %}

{% block title %}{{ video.title }}{% endblock %}
{% block description %}{{ video.description }}{% endblock %}
{% block keywords %}{{ video.keywords.all|join:", " }}{% endblock %}
{% block author %}{{ video.authors.all|join:", " }}{% endblock %}

{% block header %}{{ video.title }}{% endblock %}
{% block content %}
<p align="center">
<video src="{{ video.video.url }}" width="960" height="720" controls="controls">
Your browser does not support the video tag.
</video>
</p>
<p>{{ video.description }}</p>
<p>Viewed {{ video.viewCount }} times.</p>
<p>Original article: <a href="{{ video.url }}" target="_blank">{{ video.url }}</a></p>
<p>Authors: {{ video.authors.all|join:", " }}</p>
<p>Keywords: {{ video.keywords.all|join:", " }}</p>
<p>Journal: {{ video.journal }}</p>
<!--
<form name="input_1" action="html_form_action.asp" method="get">
<textarea row="20" cols="60">
please type in your comments.
</textarea>
<input type="submit" value="Submit">
</form>
<form name="input_2" action="html_form_action.asp" method="get">
<p>Please rank the video</p><select name="rank">
<option value="One Star">One Star</option>
<option value="Two Stars">Two Stars</option>
<option value="Three Stars" selected>Three Stars</option>
<option value="Four Stars">Four Stars</option>
<option value="Five Stars">Five Stars</option>
</select>
<input type="submit" value="Submit">
</form>

<div id="content" style="background-color:#EEEEEE;height:400px;width:800px;margin:0 auto;">
<h4 style="text-align:center;margin-bottom:1">All Comments</h4>
<p>name1 rankings1</p>
<p>comments1</p>

<p>name2 rankings2</p>
<p>comments2</p>

<p>name3 rankings3</p>
<p>comments3</p>


<address>
<a href="mailto:da000@gmail.com">Email us: jyz@hawk.iit.edu</a><br>
Address:S.State Street, 60616<br>
Phone: +312 666 9999
</address>
</div>-->
<script type="text/javascript">
function makeView() {
        var r = new XMLHttpRequest();
        r.open("GET", "count", true);
        r.send(null);
}
makeView();
</script>
{% endblock %}
</body>
</html>
